# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# SQLite database
app.db
*.sqlite3

# Flask migrations cache
migrations/

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.db
